@import url(reset.css);



body {
    font-family: Arial, Helvetica, sans-serif;
    
}

* {
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

.clear-fiix::after {
    display: block;
    content: "";
    clear: both;
}



#header-container {
    height: 60px;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-shortcuts {
    width: 317px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#header-shortcuts {
    width: 317px;
    height: 100%;
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
}

#header-shortcuts>a {
    padding-left: 15px;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
    font-size: 13px;
    
}

#header-shortcuts>a:hover {
   text-decoration: underline;
}



#header-buttons {
    display: flex;
    align-items: center;
}

#settings>svg {
    fill: #5f6368;
    width: 24px;
    height: 24px;

}

#settings {
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 4px;
    height: 40px;
    border-radius: 100%;
}

#settings:hover {
    background-color: rgba(60,64,67,.08);
   
}

#sign-in-button>a>div {
    border-radius: 4px;
    width: 96px;
    height: 36px;
    padding: 9px 23px;
    margin: 0px 8px;
    border: 1px solid transparent;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-button>a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 4px;
    width: inherit;
    height: inherit;
}


#sign-in-button>a>div:hover {
    background-color: #1b66c9;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}


/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec-logo{
    display: flex;
    height: calc(100vh - 560px);
    align-items: flex-end;
    min-height: 92px;
    max-height: 290px;
}

#ico-search {
    padding-right: 13px;
    width: 33px;
    height: 44px;
    fill: #9aa0a6;
}

#ico-mic{
    width: 44px;
    height: 44px;
    padding: 0 8px;
    cursor: pointer;
}

#search-form{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-input{
    width: 100%;
    max-width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-top: 6px;
    padding: 0 8px 0 14px;
    display: flex;
}

#form-input:hover, 
#form-input:focus-within{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: transparent;
}

#form-input input{
    flex-grow: 1;
    border: none;
    outline: none;
}

#sec-buttons{
    padding-top: 18px;
}

#sec-buttons button{
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
    height: 36px;
    border-radius: 4px;
}

#sec-buttons button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


#sec-buttons button:focus{
    border: 1px solid #4285f4;
    outline: none;
}

#sec-lang{
    margin-top: -8px;
    font-size: 13px;
    color: #4d5156;
    line-height: 28px;
}

#sec-lang a{
    padding: 0 3px;
}

/* Bottom */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
   font-size: 14px;
}


#country-row {
    color: #70757a;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    height: 48px;
    padding: 15px 30px;
}

#link-row {
    background-color: #f2f2f2;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#link-row a {
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    color: #70757a;
}

#link-row a:hover {
    text-decoration: underline;
}

#left-side {
    display: flex;
    flex-wrap: wrap;
    

}

#right-side {
    display: flex;
}